<div class="widget">
	<div class="title"><img src="images/icons/dark/frames.png" alt="" class="titleIcon" /><h6>Detalle de usuario</h6></div>
	<table cellpadding="0" cellspacing="0" width="100%" class="sTable">
		<!--thead>
			<tr>
				<td>Descripción</td>
				<td>Perfil</td>
			</tr>
		</thead-->
		<tbody>
			<tr>
				<td width="30%">&nbsp;&nbsp;Perfil</td>
				<td>{strPerfil}</td>
			</tr>
			<tr>
				<td>Descripci&oacute;n</td>
				<td>{strDescripcion}</td>
			</tr>
			<tr>
				<td>&nbsp;Usuarios</td>
				<td>
					<!-- BEGIN USUARIOS -->
						<a href="backoffice_usuarios_detalle.php?codUsuario={strUsuario}" class="texto" onMouseOver="return setStatus('Ver Usuario {strUsuario}');" onMouseOut="return setStatus('');">{strUsuario}</a><br/>
					<!-- END USUARIOS -->
					<!-- BEGIN USUARIOS_VACIO -->
						No posee usuarios asignados
					<!-- END USUARIOS_VACIO -->
				</td>
			</tr>
			<tr>
				<td>&nbsp;Secciones</td>
				<td>
				<table>
					<table cellpadding="0" cellspacing="0" width="90%" class="sTable">
						<!-- BEGIN SECCIONES -->
							<tr>
								<td><b>{strSeccion}</b></td>
								<td><span style="{strStyleAcceso1}">Lectura</span></td>
								<td><span style="{strStyleAcceso2}">Creaci&oacute;n</span></td>
								<td><span style="{strStyleAcceso4}">Borrado</span></td>
								<td><span style="{strStyleAcceso8}">Modificaci&oacute;n</span></td>
								<td><span style="{strStyleAcceso16}">Online</span></td>
							</tr>
						<!-- END SECCIONES -->
					</tbody>
				</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- BEGIN ERROR_BORRADO -->
<div class="widget">
	<div class="title"><img src="images/icons/dark/frames.png" alt="" class="titleIcon" /><h6>Resultado de borrado</h6></div>
	<table cellpadding="0" cellspacing="0" width="100%" class="sTable">
		<tr>
			<td class="error">No se ha podido borrar el perfil porque posee usuarios asignados</td>
		</tr>
	</table>
<!-- END ERROR_BORRADO -->

<div class="tPagination">
	<ul class="pages">
		<!-- BEGIN MODIFICAR_PERFILES -->
			<li><a href="backoffice_perfiles_modificar.php?codPerfil={intPerfil}">&raquo; Editar Perfil</a></li>
		<!-- END MODIFICAR_PERFILES -->
		<li><a href="backoffice_perfiles.php">&raquo; Volver</a></li>
	</ul>
</div>
