<div class="widget">
	<div class="title"><img src="images/icons/dark/frames.png" alt="" class="titleIcon" /><h6>Detalle de curso</h6></div>
	<table cellpadding="0" cellspacing="0" width="100%" class="sTable">
		<!--thead>
			<tr>
				<td>Descripción</td>
				<td>Perfil</td>
			</tr>
		</thead-->
		<tbody>
			<tr>
				<td>Nombre:</td>
				<td>{strNombre}</td>
			</tr>
			<tr>
				<td>Apellido:</td>
				<td>{strApellido}</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>{strEmail}</td>
			</tr>
			<tr>
				<td>DNI:</td>
				<td>{strDNI}</td>
			</tr>
			<tr>
				<td>Provincia:</td>
				<td>{strProvincia}</td>
			</tr>
			<tr>
				<td>Tel&eacute;fono:</td>
				<td>{strTelefono}</td>
			</tr>
			<tr>
				<td>Fecha:</td>
				<td>{strFecha}</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="tPagination">
	<ul class="pages">
		<li><a href="cursos_inscriptos.php?codCurso={codCurso}">&raquo; Volver</a></li>
	</ul>
</div>