<div class="widget">
	<div class="title"><img src="images/icons/dark/frames.png" alt="" class="titleIcon" /><h6>Agregar Autor</h6></div>
	<form name="frmNotas" id="frmNotas" method="POST" enctype="multipart/form-data" action="documentos_autores_agregar.php" class="form">
	<table cellpadding="0" cellspacing="0" width="100%" class="sTable">
		<tbody>
			<tr>
				<td>Nombre:</td>
				<td><input type="text" size="50" name="strAutor" value="{strAutor}" maxlength="255" />
				<div class="errors">{errorAutor}</div></td>
			</tr>
			<tr>
				<td>Imagen:</td>
				<td><div><img src="../{PATH_IMAGEN_NOTAS_AUTORES}/{strImagen}" width="{IMAGEN_NOTAS_AUTORES_GRANDE_ANCHO}" height="{IMAGEN_NOTAS_AUTORES_GRANDE_ALTO}" /></div>
				<div><input type="file" name="strImagen" size="30">
				<input type="hidden" name="strImagenAnterior" value="{strImagen}"></div>
				<div style="margin: 5px 0 0 0;">{strImagen}</div>
				<div class="errors">{errorImagen}</div></td>
			</tr>
			<tr>
				<td>Estado:</td>
				<td><label for="radHabilitado"><input type="radio" name="strHabilitado" id="radHabilitado" value="true" {blnHabilitado}> Habilitado</label>
				&nbsp;<label for="radDeshabilitado"><input type="radio" name="strHabilitado" id="radDeshabilitado" value="false" {blnDeshabilitado}> Deshabilitado</label></td>
			</tr>
		</tbody>
	</table>
	</form>
</div>

<div class="tPagination">
	<ul class="pages">
		<li><a href="javascript: document.frmNotas.submit();">&raquo; Confirmar</a></li>
		<li><a href="documentos_autores_detalle.php?codNota={codNota}">&raquo; Volver</a></li>
	</ul>
</div>

