<div class="widget">
	<div class="title"><img src="images/icons/dark/frames.png" alt="" class="titleIcon" /><h6>Detalle de Autor</h6></div>
	<table cellpadding="0" cellspacing="0" width="100%" class="sTable">
		<tbody>
			<tr>
				<td width="20%">Autor:</td>
				<td>{strAutor}</td>
			</tr>
			<tr>
				<td>Imagen Chica:</td>
				<td>
					<div><img src="../{PATH_IMAGEN_NOTAS_AUTORES}/thumbs/{strImagen}" width="{IMAGEN_NOTAS_AUTORES_CHICA_ANCHO}" height="{IMAGEN_NOTAS_AUTORES_CHICA_ALTO}" /></div>
					<div style="margin: 5px 0 0 0;">{strImagen}</div>
				</td>
			</tr>
			<tr>
				<td>Imagen:</td>
				<td>
					<div><img src="../{PATH_IMAGEN_NOTAS_AUTORES}/{strImagen}" width="{IMAGEN_NOTAS_AUTORES_GRANDE_ANCHO}" height="{IMAGEN_NOTAS_AUTORES_GRANDE_ALTO}" /></div>
					<div style="margin: 5px 0 0 0;">{strImagen}</div>
				</td>
			</tr>
			<tr>
				<td>Fecha de Alta:</td>
				<td>{strFechaAlta}</td>
			</tr>
			<tr>
				<td>Fecha de Modificaci&oacute;n:</td>
				<td>{strFechaModificacion}</td>
			</tr>
			<tr>
				<td>Estado:</td>
				<td>{strEstadoNota}</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="tPagination">
	<ul class="pages">
		<!-- BEGIN MODIFICAR_NOTAS -->
			<li><a href="documentos_autores_modificar.php?codAutor={codAutor}">&raquo; Editar Autor</a></li>
		<!-- END MODIFICAR_NOTAS -->
		<li><a href="documentos_autores.php">&raquo; Volver</a></li>
	</ul>
</div>