<div class="widget">
	<div class="title"><img src="images/icons/dark/frames.png" alt="" class="titleIcon" /><h6>Detalle de Evento</h6></div>
	<table cellpadding="0" cellspacing="0" width="100%" class="sTable">
		<tbody>
			<tr>
				<td>T&iacute;tulo:</td>
				<td>{strTitulo}</td>
			</tr>
			<tr>
				<td>Texto:</td>
				<td>{strTexto}</td>
			</tr>
			<tr>
				<td>Imagen Chica:</td>
				<td>
					<div><img src="../{PATH_IMAGEN_EVENTOS}/thumbs/{strImagen}" width="{IMAGEN_EVENTOS_CHICA_ANCHO}" height="{IMAGEN_EVENTOS_CHICA_ALTO}" /></div>
					<div style="margin: 5px 0 0 0;">{strImagen}</div>
				</td>
			</tr>
			<tr>
				<td>Imagen:</td>
				<td>
					<div><img src="../{PATH_IMAGEN_EVENTOS}/{strImagen}" width="100%" style="max-width: {IMAGEN_EVENTOS_GRANDE_ANCHO}px;" /></div>
					<div style="margin: 5px 0 0 0;">{strImagen}</div>
				</td>
			</tr>
			<tr>
				<td>Archivo:</td>
				<td><a href="../{PATH_IMAGEN_EVENTOS}/{strArchivo}" target="_blank">{strArchivo}</a>
				</td>
			</tr>
			<tr>
				<td>Fecha:</td>
				<td>{strFechaListado}</td>
			</tr>
			<tr>
				<td>Fecha de Alta:</td>
				<td>{strFechaAlta}</td>
			</tr>
			<tr>
				<td>Fecha de Modificaci&oacute;n:</td>
				<td>{strFechaModificacion}</td>
			</tr>
			<tr>
				<td>Estado:</td>
				<td>{strEstadoEvento}</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="tPagination">
	<ul class="pages">
		<!-- BEGIN MODIFICAR_EVENTOS -->
			<li><a href="eventos_modificar.php?codEvento={codEvento}">&raquo; Editar Evento</a></li>
		<!-- END MODIFICAR_EVENTOS -->
		<li><a href="eventos.php">&raquo; Volver</a></li>
	</ul>
</div>