<div class="widget">
	<div class="title"><img src="images/icons/dark/frames.png" alt="" class="titleIcon" /><h6>Detalle de Red</h6></div>
	<table cellpadding="0" cellspacing="0" width="100%" class="sTable">
		<tbody>
			<tr>
				<td width="20%">Provincia:</td>
				<td>{strProvincia}</td>
			</tr>
			<tr>
				<td>T&iacute;tulo:</td>
				<td>{strTitulo}</td>
			</tr>
			<tr>
				<td>Texto:</td>
				<td>{strTexto}</td>
			</tr>
			<tr>
				<td>Imagen:</td>
				<td>
					<div><img src="../{PATH_IMAGEN_REDES}/{strImagen}" height="{IMAGEN_REDES_ALTO}" /></div>
					<div style="margin: 5px 0 0 0;">{strImagen}</div>
				</td>
			</tr>
			<tr>
				<td>Fecha de Alta:</td>
				<td>{strFechaAlta}</td>
			</tr>
			<tr>
				<td>Fecha de Modificaci&oacute;n:</td>
				<td>{strFechaModificacion}</td>
			</tr>
			<tr>
				<td>Estado:</td>
				<td>{strEstadoRed}</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="tPagination">
	<ul class="pages">
		<!-- BEGIN MODIFICAR_REDES -->
			<li><a href="redes_modificar.php?codRed={codRed}">&raquo; Editar Red</a></li>
		<!-- END MODIFICAR_REDES -->
		<li><a href="redes.php">&raquo; Volver</a></li>
	</ul>
</div>