<div class="widget">
	<div class="title"><img src="images/icons/dark/frames.png" alt="" class="titleIcon" /><h6>B&uacute;squeda de Redes</h6></div>
	<form name="frmBusqueda" action="redes.php" method="post" class="form">
	<table cellpadding="0" cellspacing="0" width="100%" class="sTable">
		<tbody>
			<tr>
				<td><input type="text" name="txtBusqueda" value="{txtBusqueda}" size="40" maxlength="20" /></td>
			</tr>
			<tr>
				<td>
					<div class="tPagination" style="margin: 0;">
						<ul class="pages">
							<li><a href="javascript: document.frmBusqueda.submit();">&raquo; Iniciar B&uacute;squeda</a></li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="widget">
	<div class="title"><img src="images/icons/dark/frames.png" alt="" class="titleIcon" /><h6>Listado de Redes</h6></div>
	<table cellpadding="0" cellspacing="0" width="100%" class="sTable">
		<thead>
			<tr>
				<td width="20%">Imagen</td>
				<td width="35%">T&iacute;tulo</td>
				<td width="35%">Provincia</td>
				<td class="options">Opciones</td>
			</tr>
		</thead>
		<tbody>
			<!-- BEGIN REDES -->
			<tr>
				<td><a href="redes_detalle.php?codRed={codRed}"><img src="../{PATH_IMAGEN_REDES}/{strImagen}" width="100%" /></a></td>
				<td><a href="redes_detalle.php?codRed={codRed}">{strTitulo}</td>
				<td>{strProvincia}</td>
				<td class="options">
				<a href="redes_detalle.php?codRed={codRed}"><img src="images/icons/bot_ver.gif" width="17" height="17" border="0" alt="Ver detalle de Red"></a>
				<!-- BEGIN MODIFICAR_REDES_UPDATE -->
				<a href="redes_modificar.php?codRed={codRed}"><img src="images/icons/bot_editar.gif" width="17" height="17" border="0" alt="Modificar Red"></a>
				<a href="redes_habilitar.php?codRed={codRed}" onClick="return confirm('Esta seguro que quiere {estadoAlt} el Red seleccionado?');"><img src="images/icons/bot_habilitar{estadoIcono}.gif" width="17" height="17" border="0" alt="{estadoAlt} Red"></a>
				<!-- END MODIFICAR_REDES_UPDATE -->
				<!-- BEGIN MODIFICAR_REDES_DELETE -->
				<a href="redes_borrar.php?codRed={codRed}" onClick="return confirm('Esta seguro que quiere Borrar el Red seleccionadi?');">
					<img src="images/icons/bot_borrar.gif" width="17" height="17" border="0" alt="Borrar Red">
				</a>
				<!-- END MODIFICAR_REDES_DELETE -->
				</td>
			</tr>
			<!-- END REDES -->

			<!-- BEGIN REDES_VACIO -->
				<td colspan="4" style="height: 10em; text-align: center;"><b>No existen Redes cargadas en el sistema.</b></td>
			<!-- END REDES_VACIO -->

			<!-- BEGIN REDES_VACIO_BUSQUEDA -->
				<td colspan="4" style="height: 10em; text-align: center;"><b>No existen Redes con esos parámetros de Búsqueda.</b></td>
			<!-- END REDES_VACIO_BUSQUEDA -->
		</tbody>
	</table>
</div>

{PAGINADOR}

<!-- BEGIN MODIFICAR_REDES_ADD -->
	<div class="tPagination">
		<ul class="pages">
			<li><a href="redes_agregar.php">&raquo; Agregar Red</a></li>
		</ul>
	</div>
<!-- END MODIFICAR_REDES_ADD -->
